
.landing__body {
    height: 90%;
    display: grid;

    grid-template-columns: 35% auto;
    grid-auto-flow: column;
}

.landing__body--left {
    padding: 5% 10% 10% 15%;
    border-right: 1px solid rgba(0, 0, 0, .3);
}

.landing__body--right {
}
