
.landing__body {
    height: 90%;
    display: grid;

    grid-template-columns: 35% auto;
    grid-auto-flow: column;
}

.landing__body--left {
    padding: 5% 10% 10% 15%;
    border-right: 1px solid gray;
}

.landing__body--right {
    height: 100%;
}