
.accordion__panel.active {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

.accordion__panel__label {
    background-color: blue;
}

.accordion__panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s cubic-bezier(1, 0, 0, 1);
}




