
.autocomplete-box {
    width: 100%;
}

.autocomplete-input-box {
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.autocomplete-dropdown-box {
    position: relative;
    height: 100%;
    width: 100%;
}

.autocomplete-suggestion {
    display: block;
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fade {
    display: inline-block;
    margin-left: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
    transition: all 300ms ease-out;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: all 100ms ease-in;
}

