.export-calendar-button {
    color: #182B49;
    background-color: white;
    border: 0.15em solid #182B49;
    margin: 0 1em 0;
}

.export-calendar__container {
    background: #7A7A7A;
    opacity: .95;
    padding: 0.4em 0.8em;
}

.add-to-gcalendar-button {
    background: white;
    color: #182B49;
    border: 0.2em solid #182B49;
    padding: 1em;
    transition: background .5s ease-in-out;
}

.add-to-gcalendar-button:hover {
    cursor: pointer;
}

.download-options-popover {
    z-index: 1;
}
