.export-calendar-button {
    width: 100%;
    color: #182B49;
    background-color: inherit;
    padding: 0;
}

.export-calendar__container {
    background: #7A7A7A;
    opacity: .95;
    padding: 0.4em 0.8em;
}

.gcalendar-button {
    border-bottom: thin solid gray;
    background: white;
    color: #182B49;
    transition: background .5s ease-in-out;
}

.ics-button {
    border-bottom: none;
}

.gcalendar-button:hover {
    cursor: pointer;
}

.gcalendar-button.custom-button.custom-button__corner--default {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.download-options-popover {
    border: thin solid gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
}

.options-panel {
    width: 50px;
    background-color: white;
}

.options-panel button {
    padding: .5em;
}

.options-list {
    display: flex;
    flex-direction: column;
}
