.type-pref__container .list-box__button {
    background-color: white;
    transition: background-color .3s ease-in-out;
    color: lightgrey;
    width: 100%;
    text-align: left;
}

.type-pref__container .list-box__button:hover {
    background-color: #277BFF;
}
