
.class-input__form__header {
    font-size: 18px;
    text-align: left;
    height: auto;
}

.class-input__form__body {
    display: grid;

    grid-template-columns: 40% repeat(2, 1fr);
    grid-auto-flow: column;
    -webkit-column-gap: .5em;
    -moz-column-gap: .5em;
    column-gap: .5em;
}

.class-input__form__department {
}

.class-input__form__body label {
    font-size: 10px;
}

.class-input__form__autocomplete {
    height: 50px;
}

.class-input__form__autocomplete .react-autosuggest__container {
    height: 100%;
}

.class-input__form__autocomplete .react-autosuggest__input {
    padding: 10px;
    height: 100%;
}

.class-input__form__courseNum {
}

.class-input__form__buttons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.class-input__form__add-button, .class-input__form__cancel-button {
    font-size: 10px;
}

.class-input__form__add-button .custom-button {
    font-size: inherit;
    background-color: green;
    padding: .5em 1em .5em 1em;
}

.class-input__form__cancel-button .custom-button {
    font-size: inherit;
    color: blue;
    background-color: transparent;
    padding: .5em 1em .5em 1em;
}

/* Clear the input elements */
.class-input__form__department input, .class-input__form__courseNum input {
    padding: 0;
    width: 100%;
}



