
.class-list {
    background: rgba(24,43, 73, 1);
    height: 100%;
    width: 0;
}

.class-item {
    font-family: 'Raleway', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    font-size: 1.2em;
    color: white;
    transition: all 300ms ease-out;
}

.class-button:hover {
    transform: scale(1.2) translateY(0%);

    color: white;
}

.class-button:hover .class-item {
    transform: scale(1.2) translateY(0%);
}

.class-item-border {
    margin: 0 10px;
    border-bottom: thin solid rgb(100, 100, 220);
}

.pi.pi-plus-circle {
    font-size: 2em;
    color: grey;
}

.pi.pi-cog {
    font-size: 2em;
    color: lightgray;
}

.pi.pi-check {
    color: lightgreen;
}

.addButton-enter {
    opacity: 0.01;
    transform: scale(0.9) translateY(50%);
}

.addButton-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0%);
    transition: all 300ms ease-out;
}

.addButton-exit {
    opacity: 0;
}

.addButton-exit-active {
    opacity: 0;
    transition: all 300ms ease-out;
}

.class-button {
    /* resetting the button CSS */
    background: none;
    height: 100px;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: 100%;
    transition: all 300ms ease-out;
}

#generate-button {
    border: 2px solid gold;
    transition: all 300ms ease-out;
}
