.form-field {
    margin: .25em 0;
    width: 100%;
    font-size: 1.2em;
}

.ignore-class-types {
    grid-row-start: span 2;
}

.preference-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-button {
    margin: .5em 0;
    width: 100%;
    font-size: 1.2em;
}

.ui-autocomplete-dd input.ui-corner-all {
    width: 90%;
}

.ui-autocomplete {
    white-space: nowrap;
}

#department input {
    text-transform: uppercase;
}

.ci--title {
    /* this is for the border bottom */
    display: inline-block;
    color: rgb(255, 255, 255);
    padding-right: 1em;
    border-bottom: thin solid rgb(255, 255, 255);

    margin-bottom: .5em;
    font-size: 2.7vw;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

    /* for the whitespace */
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ci--title-preference {
    margin: 1em 0;
    font-size: 2.5vw;
    color: white;

    /* for the whitespace */
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ci-container {
    margin: 2em;
    font-family: 'Lato', 'sans-serif';
}

.ci-container .ui-rating-icon {
    color: white;
}

.ci-container .ui-listbox {
    width: auto;
}

.ci-container .ui-autocomplete {
    max-width: 100%;
}

.ci-container .ui-inputtext {
    max-width: 80%;
}

.ci-container .ui-autocomplete-dropdown {
    max-width: 20%;
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .preference-container {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .preference-container {
        display: block;
    }

    .ci--title-preference {
        font-size: 1.2em;
    }

    .ci--title {
        font-size: 1.4em;
    }

    .title-preferences {
        font-size: 1.2em;
    }
}









