.form-field {
    margin: .5em 0;
    width: 100%;
    font-size: 1.2em;
}


.title-preferences {
    margin: .5em 0;
    color: rgb(24,43, 73);
    font-size: 2em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.preference-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-button {
    margin: .5em 0;
    width: 100%;
    font-size: 1.2em;
}

.ui-inputtext .ui-state-default .ui-corner-all ui-autocomplete-input {
    width: 100%;
}

.ui-autocomplete {
    white-space: nowrap;
}

@media only screen and (max-width: 640px) {
    .title-preferences {
        font-size: 1em;
    }

    .preference-container {
        display: block;
    }
}



