

.left-side-panel {
    height: 100%;
}

@media only screen and (max-width: 525px) {
    .left-side-panel {
        height: auto;
        grid-column: 1/-1;
        grid-row: 2;
    }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
    .left-side-panel {
        height: 100%;
        grid-row: 3;
        background: rgba(24,43, 73, 1);
    }
}


