
.main-panel {
    font-family: 'Lato', 'sans-serif';
    height: 100%;
    width: 100%;
    color: rgb(24,43, 73);
}

.content {
    margin-right: 1.5em;
    color: rgb(116, 118, 120);
}

.input-header {
    padding-bottom: .5em;
}

.form-field {
    margin: .5em 0;
    width: 100%;
    font-size: 1.2em;
}

.title {
    /* this is for the border bottom */
    display: inline-block;
    color: rgb(24,43, 73);
    padding-right: 1em;
    border-bottom: thin solid rgb(0, 70, 0);

    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.title-preferences {
    margin: .5em 0;
    color: rgb(24,43, 73);
    font-size: 2em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-button {
    margin: .5em 0;
    width: 100%;
    font-size: 1.2em;
}