
.main-panel {
    font-family: 'Lato', 'sans-serif';
    height: 100%;
    width: 100%;
    color: rgb(24, 43, 73);
}

.content {
    margin-bottom: 2em;
    color: rgb(116, 118, 120);
}

.input-header {
    padding-bottom: .5em;
}

.title {
    /* this is for the border bottom */
    display: inline-block;
    color: rgb(24, 43, 73);
    padding-right: 1em;
    border-bottom: thin solid rgb(0, 70, 0);

    margin-bottom: .5em;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.class-input {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

.class-calendar {
    margin-left: 2em;
}

.main-panel .ui-progressbar-determinate .ui-progressbar-value-animate{
    transition: color 0s;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
    .title {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .title {
        font-size: 2em;
        padding-right: 0;
    }
}

@media only screen and (max-width: 525px) {
    .main-panel {
        height: auto;
        grid-column: 1/-1;
    }
}

