

.right-side-panel {
    height: 100%;
    background-color: rgb(24,43, 73);
}

@media only screen and (max-width: 525px) {
    .right-side-panel {
        width: 100vw;
        height: auto;
        grid-column: 1/-1;
    }
}




