
.schedule-options {
    margin: 2.5em 1em 1em 2em;
}

.schedule-options-title {
    color: rgb(230, 230, 230);
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.schedule-options-content {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    font-family: 'Lato', sans-serif;
    color: rgb(215, 215, 215);
    margin: 2em;
}

.schedule-options-generate {
    margin-top: 2em;
    align-self: flex-end;
    width: 100%;
}

.schedule-options-return-planning {
    margin-top: 2em;
    align-self: flex-end;
}

div.schedule-options-content input {
    width: 100%;
}

.addButton-enter {
    opacity: 0.01;
    transform: scale(0.9) translateY(50%);
    animation-fill-mode: forwards;
}

.addButton-enter-active {
    opacity: 1;
    animation-fill-mode: forwards;
    transform: scale(1) translateY(0%);
    transition: all 300ms ease-out;
}

.addButton-exit {
    opacity: 0;
}

.addButton-exit-active {
    opacity: 0;
}

.addButton {

}

.class-button:hover .addButton {
    transform: scale(1.2) translateY(0%);
    transition: all 300ms ease-out;

    color: white;
}

.class-button:hover .class-item {
    transform: scale(1.2) translateY(0%);
    transition: all 300ms ease-out;
}

