
.schedule-options-container-wrapper {
    height: 100%;
}

.schedule-options-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.schedule-options {
    align-items: center;
    justify-content: center;
}

.schedule-options-title {
    text-align: center;
    color: rgb(230, 230, 230);
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.class-summary-title {
    margin: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: rgb(230, 230, 230);
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.schedule-options-content {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    font-family: 'Lato', sans-serif;
    color: rgb(215, 215, 215);
}

#sidebar {
    background: rgba(24, 43, 73, 1);
    padding: 0;
}

#sidebar.ui-sidebar-bottom {
    height: auto;
}

#sidebar.ui-sidebar-active {
    visibility: visible;
}

.capes-info-text {
    margin: 1em;
    font-family: 'Raleway', 'sans-serif';
    color: white;
    flex-grow: 1;
}

#generate, #configure {
    width: 100%;
    height: 100%;
    margin: 0;
}

#return > button {
    height: 100%;
    width: 100%;
    margin: 0;
}

div.schedule-options-content input {
    width: 100%;
}

.time-preference, .day-preference {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    text-align: left;
    color: white;
}

#day-preference .ui-button, #day-preference .ui-selectbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    padding: 0;
}

.ui-calendar, .ui-calendar .ui-inputtext {
    width: 100%;
}

#day-preference .ui-button-text-only .ui-button-text {
    padding: 0;
}

.time-preference .time-preference-title {
    display: block;
    margin-bottom: 1em;
}

.day-preference .day-preference-title {
    display: block;
    margin-bottom: 1em;
}

.day-preference .days {
    display: flex;
    width: 100%;
}

.day-preference .days .day {
    background-color: gray;
    text-align: center;
    flex-grow: 1;
    border-right: thin white;
}

.time-preference-start, .time-preference-start {
    margin-bottom: 1em;
}

.time-preference-start input, .time-preference-end input {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}

.schedule-options-sidebar {
    margin: 2em;
    text-align: center;
}
