
.calendar-content {
    margin-top: 1em;
    margin-bottom: 2em;
}

.rbc-time-content {
    overflow-x: hidden;
}

.rbc-current-time-indicator {
    visibility: hidden;
}

.ics-button {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.rbc-events-container .rbc-event-label {
    display: none;
}