.calendar {
    height: 100%;
}

.calendar .dayz.week .x-labels {
    padding-left: 0;
    margin-left: 60px;
    color: white;
    background-color: #182B49;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calendar .dayz.day .days, .dayz.week .days {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.calendar .dayz .x-labels {
    height: auto;
}

.calendar .day-label {
    margin: 1em;
}
