.calendar .dayz .event .evbody {
    padding: 0;
    border: 0;
}

.calendar .dayz .event {
    border: 0;
    background: none;
}

.ce-button {
    width: 100%;
    height: 100%;
    background: #7A7A7A;
    color: white;
    border: 0;
    padding: 0;
    border-radius: 5px;

    transition: all .5s ease-in-out;
}

.ce-button:hover {
    cursor: pointer;
}

.ce-button.active {
    background: #182B49;
}

.ce-button.shadowed {
    background: #182B49;
    opacity: .2;
}

.ce-info__container {
    background: #7A7A7A;
    color: white;
    opacity: .95;
}

.ce-info {
    padding: 1em;
}

.ce-info__title {
    font-weight: bold;
    margin-bottom: .5em;
}

.ce-popover {
    pointer-events: none;
    z-index: 1;
}
